# Archivos de nodo
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de configuración
.env

# Archivos generados por la aplicación
dist/

# Archivos de depuración
*.log
*.out

# Archivos de pruebas
*.spec
